
.cardapio{
    width: 100%;
    height: 800px;
    overflow-y: hidden;
    

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 250%;
        padding-bottom: 30px;
        
    }
    .escolher {
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 20px;
        padding-top: 30px;
        .escolher-item{
            background-color: $cor-secundaria;
            padding: 8px;
            border-radius: 10px;
            color: $cor-primaria;
            &:hover{
                cursor: pointer;
                color: $cor-secundaria;
                background-color: $cor-primaria;
            }
        }        

    }
    .itens-cardapio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-top: 70px;
        width: 100%;
        height: 100%;
                   
        
        
        .item-cardapio{
            border: 2px solid white;
            border-radius: 10px;
            width: 20%;
            height: 400px;        
            
            
            img {
                width: 60%;
                margin-left: 20%;
            }

            .txt-itens{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 20px 0 20px;
                text-align: justify;
                gap: 20px;

                h1 {
                    background-color: $cor-secundaria;
                    color: $cor-primaria;
                    border-radius: 10px;
                    padding: 0 20px 0 20px;
                    
                }
                
            }           
            
            
        }
    }
}